/* Media Query  */
@media(max-width:1024px){
    body{
        text-align: center;
    }
    .top-cloud, .bottom-cloud, .mountain{
        visibility: hidden;
    }
    .top-container{
        height: 40rem;
    }
}



/* Element  */
body {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
}

h2 {
    color: #66bfbf;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    color: #11999E;
}

p{
    color: #40514E;
    line-height: 2;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #434242;
    border-width: 5px;
    width: 50px;
    margin: 100px auto;
}



/* Top Section  */
.top-container {
    background-color: #434242;      
}

.container-fluid{
    padding: 2% 15% 0;
}


/* Title  */
.name{
    font-family: 'Sacramento', cursive;
    font-size: 500.5%;
    color: #66bfbf;
    padding-top: 4%;
}

.pro{
    text-decoration: underline;
}

.profession{
    font-size: 2.5rem;
    margin: 60px 0;
    font-weight: normal;
}

.top-cloud {
    position: relative;
    left: 36%;
    padding-top: 2%;
    width: 200px;
}

.bottom-cloud {
    position: absolute;
    left: 20%;
    width: 200px;
}

.mountain{
    width: 60%;
    padding-left: 20px;
}


/* Navbar  */
.navbar-brand{
    color: #4e8d8d;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: lighter;
    font-family: 'Montserrat';
    color: #4e8d8d;
    margin: 0 25px;
}



/* Middle Section  */
.middle-container{
    background-color: #F3EFE0;
    padding: 50px auto;
}


/* Profile Section  */
#profile{
    padding-top: 100px;
}

.my-img{
    width: 18%;
    border-radius: 100%;
}

.greet{
    padding: 5% 0 3%;
}

.my-info{
    width: 35%;
    margin: auto;
}


/* Skill Section  */
.skill{
    font-size: 2rem;
}

.skill-row{
    margin: 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.design{
    margin-right: 30px;
    width: 25%;
    float: left;
}

.DS{
    margin-left: 30px;
    float: right;
    width: 25%;
}


/* Contact section  */
.contact-me{
    padding-bottom: 60px;
}

.GIT{
    padding-bottom: 3%;
}


.email-icon{
    margin: 0 5px;
}



/* Bottom section  */
.bottom-container{
    padding: 50px 0 5px;
    background-color: #222222;
}

.icons{
    color: #1f4359;
    margin: 1%;
    font-size: 13px;
    text-decoration: none;
}

.copyright{
    color: #f2f2f2;
    margin: 30px auto 0;
    font-size: 0.600rem;
}